body {
    background-image: url("http://2.bp.blogspot.com/-Aw2sdg-G7xY/UkwiG23ecNI/AAAAAAAAfA4/k7l0SABT6JI/s1600/houndstooth+in+black+and+white+traditional+freebies+printables+doodlecraft+blog.png");
}
.intro, .update {
    background-color: lightyellow;
    padding: 8px;
    border-radius: 10px;
    animation: intro 1s ease;
}
.update a {
    text-decoration: none;
    color: red;
}
.update a:visited {
    color: red;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    color: violet;
    text-shadow: 3px 3px 7px grey;
}
p {
    font-family: sans-serif;
}
strong {
    color: green;
}
@keyframes intro {
    from {transform: translate(0, -50px); opacity: 0;}
    to {transform: translate(0, 0); opacity: 100;}
}